:root{
    --cor-primaria: #000000;
    --cor-morty:#F2EC91;
    --cor-botao:#233160;
    --cor-rick: #30A2FF;
}

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
}

.cabecalho{
    padding: 1% 0% 1% 1.1%;
    background-color: var(--cor-morty);
}


.cabecalho__menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.cabecalho__menu_link {
    font-size: 1.5rem;
    font-weight: 200;
    color: var(--cor-primaria);
    text-decoration: none;
    list-style: none;
}

.background__episodeos{
    background-color: var(--cor-morty);
}

.background__sobre{
    background-color: var(--cor-rick);
}

.personagem__morty{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    text-align: inherit;
    background-color: var(--cor-morty);
}


.personagens__morty{
    display: grid;
    margin: 2em;
}

.personagem__rick{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    text-align: inherit;
    background-color: var(--cor-rick);
}
.titulo__personagem{
    text-align: center;
}

.caixa__morty{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 12px;
    margin: 1em;
}

.caixa__rick{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 12px;
    margin: 1em;
}
.apresentacao__imagem {
    width: 50%;
}

.imagem__card{
    width: 25%;
}

.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__links{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    margin: 3em;
}

