@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@400;500&display=swap');

:root{
    --cor-primaria: #000000;
    --cor-morty:#F2EC91;
    --cor-rick: #30A2FF;
    --cor-botao: #F2EAD3;
    --branco-principal: #FFFFFF;

    --fonte-primaria: 'Roboto', sans-serif;
    --fonte-secundaria:'Poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }
  
.cabecalho {
    padding: 1% 0% 1% 1.1%;
    background-color: rgba(128, 0, 0, 0.8); /* Cor de fundo com tom sobreposto */
  }
  


.cabecalho__menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.cabecalho__menu_link {
    font-size: 1.3rem;
    font-weight: 200;
    color: var(--cor-primaria);
    text-decoration: none;
    list-style: none;
    font-family: var(--fonte-primaria);
    position: relative;
}

.cabecalho__menu_link a::after{
    content: " ";
    width: 0%;
    height: 2px;
    background-color: var(--cor-primaria);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

.cabecalho__menu_link a:hover::after{
    width: 100%;
}

.background__episodeos{
    background-color: var(--cor-morty);
}

.background__sobre{
    background-color: var(--cor-rick);
}

.personagem__morty{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    text-align: inherit;
    background-color: var(--cor-morty);

    @media (max-width: 481px) {
        grid-template-columns: 100%;
    }
}


.personagem__rick{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    text-align: inherit;
    background-color: var(--cor-rick);

    @media (max-width: 481px) {
        grid-template-columns: 100%;
    }
}

.titulo__personagem{
    text-align: center;
}

.descricao__personagem{
    font-family: var(--fonte-secundaria);
}

.botao__personagem{
    font-family: var(--fonte-secundaria);
    background-color: var(--cor-botao);
}

.caixa__morty{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    gap: 12px;
    margin: 1em;
    transition: all 0.5s;
}

.caixa__morty:hover {
    transform: scale(1.1);
    transition: all 0.4s;
    z-index: 10;
}

.caixa__rick{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    gap: 12px;
    margin: 1em;
    transition: all 0.5s;
}

.caixa__rick:hover {
    transform: scale(1.1);
    transition: all 0.4s;
    z-index: 10;
}
.apresentacao__imagem {
    width: 50%;
}

.imagem__card{
    width: 25%;

    @media (max-width: 800px) {
        width: 37%;
    }

    @media (max-width: 481px) {
        width: 90%;
    }
}

.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__links{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    margin: 3em;

    @media (max-width: 481px) {
        flex-direction:column;
    }
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;

    @media (max-width: 481px) {
        flex-direction: column;
    }
}

.dispositivos {
    text-align: center;
    background-color: #000000;

}

.dispositivos__titulo {
    font-family: var(--fonte-primaria);
    font-size: 2.4rem;
    color: var(--branco-principal);
}

.lista__item {
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    color: var(--branco-principal);
}

.sobre {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .criador {
    flex-basis: 300px;
    margin: 20px;
    text-align: center;
  }
  
  .criador img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  
  .criador h3 {
    margin-top: 10px;
  }
  
  .criador p {
    margin-top: 10px;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    justify-content: center;
  }
  
  .member {
    width: 200px;
    padding: 50px;
    margin: 10px;
    text-align: center;
    transition: all 0.5s;
  }
  
  .member img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  .member:hover {
    transform: scale(1.3);
    transition: all 0.4s;
    z-index: 10;
  }
  
  .member h3 {
    margin: 0;
    color: #202020;
  }
  
  .member ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
  }
  
  .member ul li {
    display: inline-block;
    margin-right: 5px;
  }
  
  .member ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 5px;
  }
  
  .member ul li a:hover {
    background-color: white;
    color: #202020;
  }
  
  .thank-you-message {
    text-align: center;
  }